<h3>Edit entry</h3>
<% if @entry.errors.any? %>
	<ul>
		<% @entry.errors.full_messages.each do |error_message| %>
			<li> <%= error_message %> </li>
		<% end %>
	</ul>
<% end %>

<%= form_for @entry do |f| %> 
	<%= f.number_field :hours, placeholder: "How many hours" %>
	<%= f.number_field :minutes, placeholder: "How many minutes" %>
	<%= f.date_field :date %>
	<%= f.text_area :comments, placeholder: "Insert a comment" %>
	<%= f.submit "Change my time" %>
<% end %>
