<h2>Create new entry</h2>
<%= form_for [@project, @entry] do |f| %> 
	<%= f.number_field :hours, placeholder: "How many hours" %>
	<%= f.number_field :minutes, placeholder: "How many minutes" %>
	<%= f.date_field :date %>
	<%= f.text_area :comments, placeholder: "Insert a comment" %>
	<%= f.submit "Add my time" %>
<% end %>
